body {
  font-size: 12px;
}

.main-heading {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-heading::before {
  content: "";
  background: no-repeat url("./Images/indianFood.jpeg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.dhaba-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* starters */
.card-image-top {
  display: flex;
  flex-direction: row;
  justify-items: left;
  justify-content: space-evenly;
}

.main-starter-heading {
  padding-left: 2em;
}

.starters {
  padding-left: 2em;
}

.samosa-starter,
.price-starter {
  font-weight: 500;
}
